#news{
    height: 70px;
    background-color:dimgray;

}
#battery{
    width: 20%;
    height: 8px;
    background-color: orangered;
}
@keyframes charge {
    100%{
        width: 100%;
        background-color: greenyellow;
    }
}
.charging{
    animation: charge 6s linear infinite;
}
#box{
    flex: 1;
    width: 100%;
    /*background-color: #F2F2F2;*/
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
#box-l{
    height:55px;
    width: 30%;
}
#time{
    height: 50px;
    max-width: 100%;
    text-align: left;
    margin: 12px 0px 2px 20px;
}
#box-r{
    height: 55px;
    width: 50%;
    display: flex;
    flex-flow: row-reverse;
}
#xg{
    height: 56px;
    width: 15%;
    margin: 12px 0px 2px 12px;

}
#singal{
    height: 56px;
    width: 25%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;

}
.d{
    width: 10px;
    background-color: white;
    border-radius: 30%;
    margin: 3px;
}
#d1{
    height: 10px;
}
#d2{
    height: 16px;
}
#d3{
    height: 22px;
}
#d4{
    height: 30px;
}
#d5{
    height: 40px;
}
.word{
    color: white;
}
